.badge {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    height: 1.375rem;
    line-height: 1.375rem;
    box-sizing: border-box;
    padding: 0 0.625rem;
    font-size: var(--small-font-size);
    border-radius: 1rem;
    background: color-mix(in srgb, var(--foreground) 8%, transparent);
    color: var(--foreground);
    white-space: nowrap;
}

.caps {
    font-variant: small-caps;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--xsmall-font-size);
    letter-spacing: 0.05em;
}

.ghost {
    background: color-mix(in oklch, var(--foreground) 10%, transparent);
    color: var(--foreground);
}

.outline {
    background: transparent;
    color: var(--foreground);
    border: 1px solid var(--border);
}

.muted {
    background: color-mix(in srgb, var(--foreground) 8%, transparent);
    color: var(--muted-foreground);
}

.secondary {
    background: var(--secondary);
    color: oklch(from var(--secondary) clamp(0, (0.5 - l) * 100, 1) 0 0);
}

.success {
    background: var(--color-7);
    color: color-mix(in srgb, var(--color-7) 40%, black);
}

.info {
    background: var(--color-11);
    color: color-mix(in srgb, var(--color-11) 40%, black);
}

.warning {
    background: var(--color-4);
    color: color-mix(in srgb, var(--color-4) 40%, black);
}

.destructive {
    background: var(--color-2);
    color: color-mix(in srgb, var(--color-2) 40%, black);
}
