.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 1rem;
    text-align: center;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--muted-foreground);
}

.media svg {
    width: 3rem;
    height: 3rem;
}

.title {
    font-weight: bold;
}

.description {
    color: var(--muted-foreground);
    font-size: var(--medium-font-size);
    max-width: 24rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
