:global(html) {
    height: 100%;
}
:global(body) {
    height: 100%;
    min-height: 100%;
    background: color-mix(in srgb, var(--foreground) 5%, transparent);
}
:global(#app) {
    height: 100%;
}
.main {
    height: 100%;
    box-sizing: border-box;
    max-width: 80rem;
    margin: 0 auto;

}
