.header {
    height: 3.75rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.title {
    margin: 0;
    color: var(--foreground);
    font-weight: 600;
    white-space: nowrap;
}

.separator {
    color: var(--muted-foreground);
    font-weight: 300;
    user-select: none;
}

.description {
    margin: 0;
    color: var(--muted-foreground);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
