.wrapper {
    position: relative;
    width: 100%;
    max-width: 20rem;
}

.icon {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    color: var(--muted-foreground);
    pointer-events: none;
}

.input {
    padding-left: 2.25rem;
}
