.tableWrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
}

.head {
}

.body {
}

.row {
}

.rowClickable {
    cursor: pointer;
}

.rowCurrent {
    background: color-mix(in srgb, var(--foreground) 10%, transparent);
}

.headerCell {
    font-weight: 600;
}

.headerCell,
.cell {
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    height: var(--cell-height);
    border-bottom: 1px solid var(--border);
    text-align: start;
    white-space: nowrap;
}

.cellContent {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
