.table {
    width: 100%;
    border-collapse: collapse;
}

.head {
}

.body {
}

.row {
}

.headerCell {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border);
}

.cell {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--border);
}
