.tableWrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
}

.head {
}

.body {
}

.row {
}

.headerCell {
    font-weight: 600;
}

.headerCell,
.cell {
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    height: var(--cell-height);
    border-bottom: 1px solid var(--border);
    text-align: start;
    white-space: nowrap;
}
