.textBubble {
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    max-width: 100%;
    word-break: break-word;
}

.agent {
    background: var(--muted-background);
}

.user {
    background: var(--secondary);
    color: var(--background);
}

.system {
    background: var(--foreground);
    color: var(--background);
}
