.container {
    box-sizing: border-box;
    display: inline-flex;
    gap: 1px;
    padding: 2px;
    height: var(--relative-input-height);
    background: var(--muted-background);
    border-radius: var(--radius);
}

.container.medium {
    height: 2rem;
    font-size: 0.875rem;
}

.container.small {
    height: 1.625rem;
    font-size: 0.75rem;
}

.button {
    height: calc(var(--relative-input-height) - 4px);
    width: auto;
    background: var(--muted-background);
    color: color-mix(in oklch, var(--foreground) 40%, transparent);
}

.icon {
    width: calc(var(--relative-input-height) - 4px);
}

.container.small .button {
    height: calc(var(--small-input-height) - 4px);
}

.container.small .icon {
    width: calc(var(--small-input-height) - 4px);
}

.button:hover {
    background: var(--background);
    color: var(--foreground);
}

.button[data-selected] {
    background: var(--background);
    color: var(--foreground);
    box-shadow: var(--shadow-xs), 0 0 0px 1px var(--border);
}

.button[data-selected]:hover {
    background: var(--background);
    opacity: 1;
}
