.content {
    padding: 0.25rem 0.5rem;
    font-size: var(--small-font-size);
    line-height: var(--xsmall-line-height);
    color: white;
    background: color-mix(in oklch, var(--foreground) 60%, var(--background));
    border-radius: var(--radius);
    z-index: 50;
    white-space: pre-line;
    max-width: 400px;
}

.content[data-expanded] {
    animation: fadeIn 0.3s ease;
}

.content[data-closed] {
    animation: fadeOut 0.1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
