.jsonHighlight {
    overflow: hidden;
}

.jsonHighlight :global(.cm-editor) {
    background: var(--muted-background);
    max-height: 400px;
    font-family: var(--monospace-font);
    font-size: var(--small-font-size);
}

.jsonHighlight :global(.cm-scroller) {
    overflow: auto;
}

.jsonHighlight :global(.cm-gutters) {
    background: var(--muted-background);
    border-right: 1px solid var(--border);
    color: var(--muted-foreground);
    font-size: var(--xsmall-font-size);
}

.jsonHighlight :global(.cm-activeLineGutter),
.jsonHighlight :global(.cm-activeLine) {
    background: transparent;
}

.jsonHighlight :global(.cm-content) {
    cursor: default;
}

.jsonHighlight :global(.cm-cursor) {
    display: none;
}
