.content {
    min-width: 16rem;
    font-size: var(--small-font-size);
}

.instances {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.instance {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
