.root {
    --tab-width: 28.5rem;
    border-right: none;
    height: 100%;
}

.tabbed {
    display: flex;
    height: 100%;
}

.tab-list {
    flex: none;
    width: var(--tab-width);
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100%;
    overflow-y: auto;
}

.tab {
    cursor: pointer;
    padding: 1rem;
}

.tab[data-selected] {
    background: var(--background);
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.tab-content {
    box-sizing: border-box;
    padding: 1rem;
    background: var(--background);
    width: calc(100% - var(--tab-width));
    height: 100%;
    overflow-y: auto;
}

.empty-tools {
    position: relative;
    justify-content: flex-start;
    padding-top: 4rem;
}

.empty-tools::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='380' height='380' viewBox='0 0 24 24' fill='black' stroke='black' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 15h-6v4l-7-7 7-7v4h6v6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    pointer-events: none;
}
