.root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-weight: bold;
}

.required {
    color: var(--destructive);
}

.hint {
    color: var(--muted-foreground);
    font-size: var(--font-size-xsmall);
}

.disabled-hint {
    color: var(--muted-foreground);
    font-size: var(--font-size-xxsmall);
}
