body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--sans-serif-font);
    letter-spacing: var(--letter-spacing);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    margin: 0;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --muted-background: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --inverted-background: #1a1d23; /* dark cool gray for dark backgrounds looks better than plain black */
    --primary: oklch(0.145 0 0);
    --secondary: oklch(0.54 0.18 288.03);

    --destructive: oklch(0.64 0.24 18);
    --info: oklch(0.68 0.1 200);
    --success: oklch(0.72 0.2 145);
    --warning: oklch(0.78 0.17 65);

    --color-0: rgb(226 232 240);
    --color-1: rgb(229 231 235);
    --color-2: rgb(254 202 202);
    --color-3: rgb(254 215 170);
    --color-4: rgb(253 230 138);
    --color-5: rgb(254 240 138);
    --color-6: rgb(217 249 157);
    --color-7: rgb(187 247 208);
    --color-8: rgb(167 243 208);
    --color-9: rgb(153 246 228);
    --color-10: rgb(165 243 252);
    --color-11: rgb(191 219 254);
    --color-12: rgb(199 210 254);
    --color-13: rgb(221 214 254);
    --color-14: rgb(233 213 255);
    --color-15: rgb(245 208 254);
    --color-16: rgb(251 207 232);
    --color-17: rgb(254 205 211);

    --card: var(--background);
    --popover: var(--background);
    --border: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

    /* Typography */
    --sans-serif-font: Manrope, sans-serif;
    --serif-font: "Source Serif 4", serif;
    --monospace-font: monospace;
    --letter-spacing: 0em;
    --font-weight: 400;

    /* Font sizes */
    --xsmall-font-size: 0.667rem;
    --small-font-size: 0.75rem;
    --medium-font-size: 0.875rem;
    --large-font-size: 1rem;

    --font-size: var(--medium-font-size);

    /* Line heights */
    --xsmall-line-height: 1rem;
    --small-line-height: 1.25rem;
    --medium-line-height: 1.35rem;
    --large-line-height: 1.5rem;

    --line-height: var(--medium-line-height-ratio);

    /* Line height ratios (line-height / font-size) */
    --xsmall-line-height-ratio: calc(var(--xsmall-line-height) / var(--small-font-size));
    --small-line-height-ratio: calc(var(--small-line-height) / var(--small-font-size));
    --medium-line-height-ratio: calc(var(--medium-line-height) / var(--medium-font-size));
    --large-line-height-ratio: calc(var(--large-line-height) / var(--large-font-size));

    /* Spacing & Radius */
    --spacing: 0.25rem;
    --radius: 0.375rem;
    --large-input-height: 3rem;
    --input-height: 2rem;
    --small-input-height: 1.75rem;
    --relative-input-height: 2.35em;
    --cell-height: 2.5rem;

    --medium-radius: 0.6rem;
    --large-radius: 1rem;

    /* Shadows */
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 4px 10px color-mix(in srgb, var(--foreground) 12%, transparent),
        0 1px 2px -1px color-mix(in srgb, var(--foreground) 12%, transparent);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
