body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    letter-spacing: var(--letter-spacing);
    font-size: var(--font-size-small);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    margin: 0;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(.145 0 0);
    --primary: oklch(.205 0 0);
    --primary-foreground: oklch(.985 0 0);
    --secondary: oklch(.97 0 0);
    --secondary-foreground: oklch(.205 0 0);
    --muted: oklch(.97 0 0);
    --muted-foreground: oklch(.556 0 0);
    --accent: oklch(.97 0 0);
    --accent-foreground: oklch(.205 0 0);
    --destructive: oklch(0.64 0.24 18);
    --destructive-foreground: oklch(1 0 0);
    --info: oklch(0.95 0.024 200);
    --info-foreground: oklch(0.68 0.10 200);
    --success: oklch(0.95 0.05 145);
    --success-foreground: oklch(0.72 0.20 145);
    --warning: oklch(0.90 0.18 95);
    --warning-foreground: oklch(0.78 0.17 65);
    --error: oklch(0.95 0.03 18);
    --error-foreground: oklch(0.64 0.24 18);
    --border: oklch(.922 0 0);
    --input: oklch(.922 0 0);
    --ring: oklch(.708 0 0);
    --sidebar: oklch(.985 0 0);
    --sidebar-foreground: oklch(.145 0 0);
    --sidebar-primary: oklch(.205 0 0);
    --sidebar-primary-foreground: oklch(.985 0 0);
    --sidebar-accent: oklch(.97 0 0);
    --sidebar-accent-foreground: oklch(.205 0 0);
    --sidebar-border: oklch(.922 0 0);
    --sidebar-ring: oklch(.708 0 0);

    --color1: var(--info-foreground);
    --color2: var(--success-foreground);
    --color3: var(--warning-foreground);
    --color4: var(--destructive);

    /* Charts */
    --chart-1: oklch(0.623 0.214 259.1);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.705 0.213 47.604);
    --chart-5: oklch(0.627 0.265 303.9);

    /* Tailwind v4 typographt variables */
    --text-xxs: 0.667rem;
    --text-xxs--line-height: 1rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: 1rem;
    --text-sm: 0.875rem;
    --text-sm--line-height: 1.25rem;
    --text-base: 1rem;
    --text-base--line-height: 1.5rem;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.75rem;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.75rem;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 2rem;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 2.25rem;

    /* Typography */
    --font-sans: Manrope, sans-serif;
    --font-heading: "Nunito", serif;
    --font-serif: "Source Serif 4", serif;
    --font-mono: "JetBrains Mono", monospace;
    --letter-spacing: 0em;
    --tracking-normal: 0em;
    --font-weight: 300;

    /* Font sizes */
    --font-size-xxsmall: var(--text-xxs);
    --font-size-xsmall: var(--text-xs);
    --font-size-small: var(--text-sm);
    --font-size-medium: var(--text-base);
    --font-size-large: var(--text-lg);
    --font-size-xlarge: var(--text-xl);
    --font-size-xxlarge: var(--text-2xl);
    --font-size-xxxlarge: var(--text-3xl);

    --font-size: var(--font-size-small);

    /* Line heights */
    --line-height-xsmall: var(--text-xs--line-height);
    --line-height-xxsmall: var(--text-xxs--line-height);
    --line-height-small: var(--text-sm--line-height);
    --line-height-medium: var(--text-base--line-height);
    --line-height-large: var(--text-lg--line-height);
    --line-height-xlarge: var(--text-xl--line-height);
    --line-height-xxlarge: var(--text-2xl--line-height);
    --line-height-xxxlarge: var(--text-3xl--line-height);

    --line-height: var(--line-height-small);

    /* Line height ratios (line-height / font-size) */
    --line-height-ratio-xsmall: calc(var(--line-height-xsmall) / var(--font-size-xsmall));
    --line-height-ratio-small: calc(var(--line-height-small) / var(--font-size-small));
    --line-height-ratio-medium: calc(var(--line-height-medium) / var(--font-size-medium));
    --line-height-ratio-large: calc(var(--line-height-large) / var(--font-size-large));
    --line-height-ratio-xlarge: calc(var(--line-height-xlarge) / var(--font-size-xlarge));
    --line-height-ratio-xxlarge: calc(var(--line-height-xxlarge) / var(--font-size-xxlarge));
    --line-height-ratio-xxxlarge: calc(var(--line-height-xxxlarge) / var(--font-size-xxxlarge));

    /* Spacing & Radius */
    --spacing: 0.25rem;
    --radius: 0.375rem;
    --input-height: 2rem;
    --input-height-xsmall: 1.5rem;
    --input-height-xxsmall: 1.25rem;

    --radius-medium: 0.6rem;
    --radius-large: 1rem;

    /* Shadows */
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 4px 10px color-mix(in srgb, var(--foreground) 12%, transparent), 0 1px 2px -1px color-mix(in srgb, var(--foreground) 12%, transparent);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
    /* Colors */
    --background: oklch(0.20 0 0);
    --foreground: oklch(0.92 0 0);
    --card: oklch(0.27 0 0);
    --card-foreground: oklch(0.92 0 0);
    --popover: oklch(0.27 0 0);
    --popover-foreground: oklch(0.92 0 0);
    --primary: oklch(0.62 0.19 259.81);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.27 0 0);
    --secondary-foreground: oklch(0.92 0 0);
    --muted: oklch(0.27 0 0);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.38 0.14 265.52);
    --accent-foreground: oklch(0.88 0.06 254.13);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.37 0 0);
    --input: oklch(0.37 0 0);
    --ring: oklch(0.62 0.19 259.81);

    /* Charts */
    --chart-1: oklch(0.623 0.214 259.1);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.705 0.213 47.604);
    --chart-5: oklch(0.627 0.265 303.9);

    /* Sidebar */
    --sidebar: oklch(0.20 0 0);
    --sidebar-foreground: oklch(0.92 0 0);
    --sidebar-primary: oklch(0.62 0.19 259.81);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.38 0.14 265.52);
    --sidebar-accent-foreground: oklch(0.88 0.06 254.13);
    --sidebar-border: oklch(0.37 0 0);
    --sidebar-ring: oklch(0.62 0.19 259.81);
}
