body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    letter-spacing: var(--letter-spacing);
    font-size: var(--font-size-small);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    margin: 0;
}



:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --muted-background: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --primary: oklch(0.145 0 0);
    --secondary: oklch(0.54 0.18 288.03);

    --destructive: oklch(0.64 0.24 18);
    --info: oklch(0.68 0.1 200);
    --success: oklch(0.72 0.2 145);
    --warning: oklch(0.78 0.17 65);

    --color-0: rgb(226 232 240);
    --color-1: rgb(229 231 235);
    --color-2: rgb(254 202 202);
    --color-3: rgb(254 215 170);
    --color-4: rgb(253 230 138);
    --color-5: rgb(254 240 138);
    --color-6: rgb(217 249 157);
    --color-7: rgb(187 247 208);
    --color-8: rgb(167 243 208);
    --color-9: rgb(153 246 228);
    --color-10: rgb(165 243 252);
    --color-11: rgb(191 219 254);
    --color-12: rgb(199 210 254);
    --color-13: rgb(221 214 254);
    --color-14: rgb(233 213 255);
    --color-15: rgb(245 208 254);
    --color-16: rgb(251 207 232);
    --color-17: rgb(254 205 211);

    --card: var(--background);
    --popover: var(--background);
    --border: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

    /* Typography */
    --font-sans: Manrope, sans-serif;
    --font-heading: "Nunito", serif;
    --font-serif: "Source Serif 4", serif;
    --font-mono: "JetBrains Mono", monospace;
    --letter-spacing: 0em;
    --tracking-normal: 0em;
    --font-weight: 400;

    /* Font sizes */
    --font-size-xxsmall: 0.667rem;
    --font-size-xsmall: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-xlarge: 1.25rem;
    --font-size-xxlarge: 1.5rem;
    --font-size-xxxlarge: 1.875rem;

    --font-size: var(--font-size-small);

    /* Line heights */
    --line-height-xxsmall: 1rem;
    --line-height-xsmall: 1.1rem;
    --line-height-small: 1.25rem;
    --line-height-medium: 1.5rem;
    --line-height-large: 1.75rem;
    --line-height-xlarge: 1.75rem;
    --line-height-xxlarge: 2rem;
    --line-height-xxxlarge: 2.25rem;

    --line-height: var(--line-height-small);

    /* Line height ratios (line-height / font-size) */
    --line-height-ratio-xsmall: calc(var(--line-height-xsmall) / var(--font-size-xsmall));
    --line-height-ratio-small: calc(var(--line-height-small) / var(--font-size-small));
    --line-height-ratio-medium: calc(var(--line-height-medium) / var(--font-size-medium));
    --line-height-ratio-large: calc(var(--line-height-large) / var(--font-size-large));
    --line-height-ratio-xlarge: calc(var(--line-height-xlarge) / var(--font-size-xlarge));
    --line-height-ratio-xxlarge: calc(var(--line-height-xxlarge) / var(--font-size-xxlarge));
    --line-height-ratio-xxxlarge: calc(var(--line-height-xxxlarge) / var(--font-size-xxxlarge));

    /* Spacing & Radius */
    --spacing: 0.25rem;
    --radius: 0.375rem;
    --input-height: 2rem;
    --input-height-xsmall: 1.5rem;
    --input-height-xxsmall: 1.25rem;
    --cell-height: 2.5rem;

    --radius-medium: 0.6rem;
    --radius-large: 1rem;

    /* Shadows */
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 4px 10px color-mix(in srgb, var(--foreground) 12%, transparent),
        0 1px 2px -1px color-mix(in srgb, var(--foreground) 12%, transparent);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
