.row:hover {
    background: var(--highlight-color);
}

.row.selected {
    background: var(--background);
}

.row.selected:hover {
    background: color-mix(in srgb, var(--highlight-color) 50%, var(--background));
}

.blocked {
    opacity: 0.5;
}

.checkbox-cell {
    width: 1rem;
}

.edit-cell {
    width: 2rem;
}

.edit-button {
    opacity: 0;
    transition: opacity 150ms;
}

.row:hover .edit-button {
    opacity: 1;
}
