.header {
    height: 3.75rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.logo {
    width: 28px;
    height: 28px;
}

.title {
    font-weight: 600;
}
